/* santWani container start --------- */
.santwani_container {
  display: flex;
  /* border: 1px solid red; */
  /* justify-content: space-between; */
  gap: 20px;
  font-family: "Noto Sans Devanagari", sans-serif;
}
.breadCrumbs {
  display: flex;
  align-items: center;
  font-family: "Inter var";

  color: #475569;
  font-weight: 500;
}
.breadCrumbs > span:first-child{
  font-size: 14px;

}
.breadCrumbs > span:last-child{
  font-family: "Noto Sans Devanagari", sans-serif;
  font-weight: 500;
}
.heading_santwani {
  padding: 20px 0;
}
.img_title {
  font-size: 20px;
  padding: 10px 0;
}
.img_container {
  flex-basis: 40%;
}
.img_details {
  flex-basis: 60%;
}
.santwanit_images {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.img_details > .img_description {
  color: #475569;
  line-height: 24px;
}
.img_container {
  position: relative;
}
.sir {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 80px;
}
.socials_icon {
  width: 24px;
  height: 24px;
}
.share_series_title {
  font-family: "Inter var";
  color: #1e293b;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 0;
}
.social_icon_box {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 12px 0;
}
/* santwani container end --------  */

/* Video series Container start  */

.seriesContainer {
  padding: 30px 40px;
}
.heading_series {
  font-family: "Inter var";
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.542);
  font-family: 600;
  margin-top: 52px;
}

.videoSeriesBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  /* padding: 10px 0; */
}
.unique_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.unique_box:hover {
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.unique_box > .series_title {
  font-size: 18px !important;
  font-weight: 500;
  color: #1e293b !important;
  font-family: "Noto Sans Devanagari", sans-serif;
}
.unique_box > .series_desc {
  font-size: 16px;
  font-family: "Noto Sans Devanagari", sans-serif;
  color: #475569;
}
.unique_box > .duration,
.contribution {
  font-family: "Inter var";
  font-size: 14px;
  color: #475569;
  font-weight: 400;
}

.unique_box > .language {
  font-family: "Inter var";
  background-color: #c7e6f8;
  display: inline-block;
  color: #334155;
  width: max-content;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  text-transform: capitalize;
}
.unique_box > .addtoCart {
  display: flex;
  gap: 12px;
  font-family: "Inter var";
}
.addtoCarts,
.enroll {
  color: #eb5848;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}

/* Other Helpful Video Series start */
.otherhelpful_video_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 24px 0;
  gap: 24px;
}
.otherhelpful_unique_container {
  display: flex;
  gap: 16px;
  position: relative;
  border-bottom: 1px solid rgba(229, 223, 223, 0.845);
  padding: 20px 0;
}
.behindone {
  position: absolute;
  top: 16px;
  left: 3px;
  z-index: -99;
  border: 0.5px solid red;
  width: 175px !important;
}
.behindtwo {
  position: absolute;
  top: 12px !important;
  left: 5px;
  z-index: -9999;
  border: 0.5px solid red;
  width: 170px !important;
}

.otherhelpful_video_container > .photo_container {
}
.details_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.helpful_video_series {
  width: 180px;
  border-radius: 4px;
  object-fit: "cover";
  border: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  font-size: 18px !important;
  font-family: "Inter var";
  color: #1e293b;
}
.subtitles {
  font-weight: 400;
  font-family: "Inter var";
  color: #475569;
}
.count_series {
  font-size: 14px;
  font-family: "Inter var";
  color: #475569;
}
.otherhelpful_video_container > .details_container > .subtitle {
}

/* Video series Container end -------- */

/* --- FAQ SECTION START ------- */
/*  */
.faq_container {
  background-color: #fcfdfe;
  padding: 42px 80px;
  font-family: "Inter var";
}
.faq_section {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.support_redirection {
  color: #e99c49;
  font-weight: 500;
  text-decoration: none;
}
.first_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 30%;
}
.accordion_container {
  flex-basis: 60%;
}

/* FAQ SECTION END ------- */

/* -------- Footer Start ------------ */

footer {
  background-color: #0f172a;
  padding: 20px;
  font-family: "Inter var";
}
.footer_container {
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 1fr;
}
.footer_container > .footer_box {
  /* border: 2px solid red; */
}
.footer_container > .footer_box > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer_container > .footer_box > ul > h2 {
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.language {
  color: #f1f5f9;
}
.footer_container > .footer_box > ul > li {
  list-style: none;
}
.footer_container > .footer_box > ul > li > a {
  color: #c3cad2;
  text-decoration: none;
}
svg:hover path {
  fill: red;
}
svg:hover path {
  stroke: red;
}
.footer_container > .footer_box > ul > li > a:hover,
.copyRight_section > .privacy > a:hover {
  color: red;
}
.icon_container {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.acharyaSirphoto {
  width: 25px;
  height: 25px;
}
.appstore {
  width: 120px;
  border: 1.4px solid rgba(255, 255, 255, 0.712);
  border-radius: 0.375rem;
}
.appStore_mob > li {
  list-style: none;
  display: flex;
  gap: 30px !important;
}

.copyRight_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 120px;
  gap: 48px;
  color: white;
}
.copyRight_section > .privacy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}
.copyRight_section > .privacy > a {
  color: #c3cad2;
  font-size: 14px;
  text-decoration: none;
}
.horizontol_line {
  padding: 0px 160px;
  margin: 20px 0;
}
hr.custom-hr {
  border: 0.5px solid #c3cad2;
  /* height: -; */
}

/* put in a tag all icon   */
/* -------- Footer End ------------ */
/******************** mobile phones (sm) ********************/

@media only screen and (max-width: 480px) {
  .footer_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .sm-hidden {
    display: none !important;
  }
  .web_hidden {
    display: inline-block !important;
  }
  .appStore_mob {
    display: flex;
    gap: 12px;
  }
  .copyRight_section {
    flex-direction: column;
    padding: 0;
    gap: 10px;
    align-items: start;
    margin-bottom: 32px;
  }
  .horizontol_line {
    padding: 0;
  }
  .copyRight_section > .privacy {
    font-size: 12px;
    gap: 8px;
  }
  .copyRight_section > .privacy > a {
    font-size: 12px;
  }
  /* --- FAQ SECTION START  */

  .faq_section {
    flex-direction: column;
  }
  .faq_container {
    padding: 20px;
  }
  .break-tag {
    display: none !important;
  }

  /* FAQ SECTION END ------- */

  /* Video series Container start -------- */

  .videoSeriesBox {
    grid-template-columns: 1fr;
  }
  .seriesContainer {
    padding: 30px 10px;
  }
  .unique_box {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.511);
    /* padding-bottom: 20px; */
    padding: 4px 4px 20px 0;
  }
  /* Other Helpful Video Series start */
  .otherhelpful_video_container {
    grid-template-columns: 1fr;
  }
  /* Video series Container end -------- */

  /* // santwant */
  .santwani_container {
    flex-direction: column;
  }
}

/******************** mobile phones (lg) and small tablets ********************/

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .footer_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .sm-hidden {
    display: none !important;
  }
  .web_hidden {
    display: inline-block !important;
  }
  .appStore_mob {
    display: flex;
    gap: 20px;
  }
  .copyRight_section {
    flex-direction: column;
    padding: 0;
    gap: 10px;
    align-items: start;
    margin-bottom: 32px;
  }
  .horizontol_line {
    padding: 0;
  }
  /* --- FAQ SECTION START  */

  .faq_section {
    flex-direction: column;
  }
  .faq_container {
    padding: 20px;
  }
  .break-tag {
    display: none !important;
  }

  /* FAQ SECTION END ------- */

  .videoSeriesBox {
    grid-template-columns: 1fr;
  }
  .seriesContainer {
    padding: 30px 10px;
  }
  .unique_box {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.511);
    padding: 4px 4px 20px 0;
  }
  /* Other Helpful Video Series start */
  .otherhelpful_video_container {
    grid-template-columns: 1fr;
  }

  /* // santwant */
  .santwani_container {
    flex-direction: column;
  }
  /* Video series Container end -------- */
}

/******************** large tablets ********************/

@media only screen and (max-width: 900px) and (min-width: 768px) {
  .footer_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .sm-hidden {
    display: none !important;
  }
  .web_hidden {
    display: inline-block !important;
  }
  .appStore_mob {
    display: flex;
    gap: 12px;
  }
  .copyRight_section {
    flex-direction: column;
    padding: 0;
    gap: 10px;
    align-items: start;
    margin-bottom: 32px;
  }
  .horizontol_line {
    padding: 0;
  }
  /* --- FAQ SECTION START  */

  .faq_section {
    flex-direction: column;
  }
  .faq_container {
    padding: 20px;
  }
  .break-tag {
    display: none !important;
  }

  /* FAQ SECTION END ------- */
  /* Video series Container start -------- */

  .videoSeriesBox {
    grid-template-columns: repeat(3, 1fr);
  }

  .unique_box {
    padding: 4px;
  }
  .otherhelpful_video_container {
    grid-template-columns: 1fr 1fr;
  }
  /* Video series Container end -------- */
}
/******************** large tablets and laptops ********************/
@media screen and (max-width: 1200px) and (min-width: 900px) {
  /* Video series Container start -------- */

  .otherhelpful_video_container {
    grid-template-columns: 1fr 1fr;
  }
  /* Video series Container end -------- */
}
